<!---->
<launch>
  <arg name="middlepoint" default="midpc"/>
  <rosparam command="load" file="$(find octomaptest)/param/params.yaml"/>

  <node pkg="octomap_server" type="octomap_server_node" name="octomap_server" output="screen">

    <!-- resolution in meters per pixel -->
    <param name="resolution" value="0.1" />

    <!-- name of the fixed frame, needs to be "/map" for SLAM -->
    <param name="frame_id" type="string" value="/odom" />

    <!-- max range / depth resolution of the kinect in meter -->
    <param name="sensor_model/max_range" value="50.0" />
    <param name="latch" value="true" />

    <!-- max/min height for occupancy map, should be in meters -->
    <param name="pointcloud_max_z" value="0" />
    <param name="pointcloud_min_z" value="-5" />

    <!-- topic from where pointcloud2 messages are subscribed $(arg middlepoint)-->
    <remap from="cloud_in" to="Sensor/points" />

    <!--param name="pointcloud_min_x" value="-1"/-->
  </node>

  <!--node pkg="octomaptest" type="octotest" name="octotest" output="screen">
    <remap from="inpoints" to="Sensor/points"/>
    <remap from="outpoints" to="$(arg middlepoint)"/>
    <remap from="odom" to="RosAria/pose"/>
  </node-->
</launch>
